@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  letter-spacing: -0.03em;
  line-height: 150%;
  @apply overflow-x-hidden bg-BG font-pretendard text-Silver;
}

input::-ms-clear,
input::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}

@layer utilities {
  .item-border:not(:last-child)::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: calc(9px / -2 - 0.5px);
    width: 100%;
    height: 1px;
    @apply bg-D2_Gray;
  }
  .Text-xxxl-Bold {
    @apply text-3xl font-Bold leading-140;
  }
  .Text-xxl-Bold {
    @apply text-2xl font-Bold leading-140;
  }
  .Text-xl-Bold {
    @apply text-xl font-Bold leading-140;
  }
  .Text-l-Bold {
    @apply text-md font-Bold leading-140;
  }
  .Text-l-Medium {
    @apply text-md font-Medium leading-140;
  }
  .Text-m-Bold {
    @apply text-regular font-Bold leading-150;
  }
  .Text-m-Medium {
    @apply text-regular font-Medium leading-150;
  }
  .Text-m-Regular {
    @apply text-regular font-Regular leading-150;
  }
  .Text-s-Bold {
    @apply text-sm font-Bold leading-150;
  }
  .Text-s-Medium {
    @apply text-sm font-Medium leading-150;
  }
  .Text-s-Regular {
    @apply text-sm font-Regular leading-150;
  }
  .Text-xs-Bold {
    @apply text-xs font-Bold leading-140;
  }
  .Text-xs-Regular {
    @apply text-xs font-Medium leading-140;
  }
  .badge-gradient {
    background: linear-gradient(214deg, #9d3c1e 0%, #0c4b5f 100%);
  }
  .inner-gray {
    box-shadow: inset 0 0 0 1px theme(colors.Gray);
  }
  .inner-silver {
    box-shadow: inset 0 0 0 1px theme(colors.Silver);
  }
  .inner-gray-orange {
    box-shadow: inset 0 0 0 1px theme(colors.Gray_Orange);
  }
  .inner-d3-gray {
    box-shadow: inset 0 0 0 1px theme(colors.D3_Gray);
  }
  .inner-none {
    box-shadow: none;
  }
}

@layer base {
}

@layer components {
}

::-webkit-scrollbar {
  width: 8px;
  height: 455px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #545250;
  border-radius: 21px;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition:
    background-color 600000s 0s,
    color 600000s 0s;
}
input[data-autocompleted] {
  background-color: transparent !important;
}
.responsive-slide {
  width: 320px;
}

@media (min-width: 768px) {
  .responsive-slide {
    width: 726px;
  }
}

@media (min-width: 1280px) {
  .responsive-slide {
    width: 1144px;
  }
}
@media (min-width: 1920px) {
  .responsive-slide {
    width: 1560px;
  }
}
