@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  letter-spacing: -0.03em;
  line-height: 150%;
  @apply bg-BG font-pretendard text-Silver;
}

@layer components {
  .item-border:not(:last-child)::after {
    content: "";
    position: absolute;
    bottom: -4.5px;
    width: 100%;
    height: 1px;
    @apply bg-D2_Gray;
  }
}
